<apex:page controller="AccountDemoPageController">

	<apex:pageBlock title="Account Info">

	
		<apex:pageBlockTable value="{!accounts}" var="acc">

			<apex:column headerValue="AccountName" value="{!acc.Name}"/>
			<apex:column headerValue="AccountNumber" value="{!acc.AccountNumber}"/>
			<apex:column headerValue="AccountType" value="{!acc.Type}"/>

		</apex:pageBlockTable>


	</apex:pageBlock>
	
</apex:page>